#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#

# vim swap and backup files
*.swp
.*
*~

# git files that we don't want to ignore
!.gitignore

# distribution specific extensions/prefixes/build dependencies
vendor/

# NOTE: The client's tests are maintained under a dedicated 'tests/' directory.
# Prior to run them, we symlink each testing file under 'haproxy/' directoy, and
# finally unlink them all, as soon as the test completes (see `@Makefile`). This
# is done since I dislike maintaining test files along with the main code, and
# there's no other way of testing private methods from an outside directory.
haproxy/*_test.go
